.container {
  font-size: var(--size-5);
  color: white;
  background-color: var(--teal-7);
  /* text-transform: uppercase; */
  border: none;
  padding: var(--size-3);
  transition: background-color 0.1s;
  border: solid 1px var(--gray-9);
}
.container:hover {
  background-color: var(--teal-8);
}
.active {
  background-color: var(--gray-3);
}
