.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  gap: 1rem;
  /* padding: 1rem; */
  /* box-shadow: 0px 0px 3px gray; */
  transition: background-color 0.2s;
}
.container img {
  width: 4rem;
  max-height: 75%;
}
.price {
  font-weight: 500;
  color: gray;
}
.input {
  width: 2rem;
  height: 2rem;
}
input[type='number'] {
  -appearance: textfield;
  -moz-appearance: textfield;
}
