.container {
  font-size: var(--size-5);
  color: var(--gray-9);
  padding: var(--size-3);
  text-decoration: none;
  transition: background-color 0.1s;
  border-bottom: 0.05rem solid var(--gray-3);
}
.container:hover {
  font-weight: 600;
  /* background-color: var(--teal-2); */
}
.active {
  font-weight: 600;
  /* background-color: var(--teal-1); */
}
