.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--size-5);
  color: var(--gray-9);
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  height: 100%;
  border: none;
  width: var(--size-8);
  transition: all 0.25s;
  border-bottom: solid 0.15rem transparent;
}
.container:hover {
  background-color: var(--gray-3);
  border-bottom: solid 0.15rem var(--gray-9);
}
.active {
  background-color: var(--gray-3);
  border-bottom: solid 0.15rem var(--gray-5);
}
.active:hover {
  background-color: var(--gray-4);
  border-bottom: solid 0.15rem var(--gray-9);
}
