.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--gray-4);
  font-size: var(--size-5);
  color: var(--gray-9);
  text-transform: uppercase;
  border: none;
  width: var(--size-8);
  transition: all 0.25s;
  border-bottom: solid 0.3rem transparent;
}
.container:hover {
  color: var(--gray-9);
  background-color: var(--gray-5);
  border-bottom: solid 0.3rem transparent;
}
.active {
  color: white;
  background-color: var(--teal-7);
}
.active:hover {
  color: white;
  background-color: var(--teal-8);
}
.mark-icon {
  display: inline-block;
  position: absolute;
  width: 0.8rem;
  top: 0;
  right: 0;
  transform: rotate(90deg);
  fill: var(--gray-9);
}
