.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  /* aspect-ratio: 1/1; */
  padding: var(--size-6);
  /* box-shadow: 0px 0px 3px var(--gray-3); */
  /* border: 1px solid var(--gray-4); */
  transition: background-color 0.2s;
}
.container:hover {
  box-shadow: 0px 0px 8px var(--gray-4);
}
.img {
  max-width: 60%;
}

.price {
  font-weight: 500;
  color: var(--gray-7);
}
